body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
   
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Body {
  background-color: #afb6b9;
  
}
.r{
  position: relative;
  top: -39px;
}
form{
 position: relative;
 text-align: center;
 left:-29px;
}
header h1 {
  font-weight: 600;
  text-align: center;
  padding: 0.5rem 0;
  display: inline-flex;
  
}

.review-container{
  position: relative;
  top: 90px;
  padding: 20px;
}


.about{
  text-align: justify;
}
.Name{
  text-align: left;
  letter-spacing: 2px;
  line-height: 2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.r{
  position:relative;
  bottom:-54px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p{
  position:relative;
  top:15px;
}
h2 {
  margin-bottom: 1rem;
}

button {
  padding: 0.25rem 1rem;
  font-family: inherit;
  border: none;
  cursor: pointer;
  box-shadow:2px 2px 2px;
}
.navigation{
  position: relative;
  text-align: right;
  padding-left: 390px;
  bottom: -26px;
  filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));

}
.button{
  font-size:30px;
  border-radius: 10px;
}


button.primary {
  background-color: var(--green);
  color: white;
}

.app {
  margin: 0 auto;
  max-width: 1200px;
}

header h1 {
  font-size: 70px;
  position: relative;
  text-align: absolute;
  bottom:-20px;
  padding: 0.5rem 0;
}

 div{
    text-align: center;
    font-size: 20px;
    font:courier;
}

.logo {
  font-size: 1.25em;
  padding-left: 0.5rem;
  color: transparent;
  text-shadow: 0 0 0 var(--green);
}
main {
  padding: 0 1rem;
}


label {
  
  font-weight: bold;
  position: relative;
  
}
.stuff{
  position: relative;
 text-align: center;

}
/* Search bar  */
input {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: flex-end;
  text-align: left;
  width: 500px;
  left:390px;
  line-height: 26px;
  margin-bottom: 10px;
  border-radius: 15px;
}
.searchBar {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

input:focus {
  outline: none;
  border-bottom: 2px solid var(--green);
}

/* .cards {
  background-color: #afb6b9;
  list-style: none;
} */

.card img {
  width: 100%;
}


  .cards {
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    width: calc(20% - 2rem);
    margin: 1rem;
    box-shadow: 5px 6px 4px rgb(67, 67, 67);
  }


/* <<<<<<< HEAD */
.navigation {
  margin-top: 50px;
  margin: auto;
  font-size: larger;
  font-weight: 200;
}
/* ======= */
/* .root{
  text-align: center;
  position:absolute;

} */

.H5{
  color:rgb(0, 0, 0);
  font-size: 45px;
  text-decoration: underline;
  position:absolute;
  text-align: center;
  left:10px;
  right:10px;
  top:130px;
}

.P1{
  color:rgb(0, 0, 0);
  font-size: 30px;
  position:relative;
  top:200px;
}

.P2{
  font-size: 25px;
  margin: 0px auto;
  position:relative;
  left: -100px;
  bottom:-700px;  
  
}
button{
  color: rgb(11, 0, 0);
  padding-left: 15px;
  position: relative;
  text-align: center;
}
.button{
  color: rgb(11, 0, 0);
  padding-left: 15px;
  position: relative;
  text-align: center;
  right:40px;
}
.Submit{
  position: relative;
  top:20px;
}
