body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
   
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  /* background-color: #00008B; */
  color: rgb(162, 7, 7);
  background-color: #1c96aea5;
  
}

header h1 {
  font-weight: 600;
  text-align: center;
  padding: 0.5rem 0;
  display: inline-flex;
  
}

.searchbar {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Playfair Display", serif;
}

h2 {
  margin-bottom: 1rem;
}

button {
  padding: 0.25rem 1rem;
  font-family: inherit;
  border: none;
  cursor: pointer;
}
.navigation{
  position: relative;
  text-align: right;
  padding-left: 390px;
  bottom: -26px;
  filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));

}
.button{
  font-size:30px;
  border-radius: 10px;
}
button.primary {
  background-color: var(--green);
  color: white;
}

.app {
  margin: 0 auto;
  max-width: 1200px;
}

header h1 {
  font-size: 5em;
  font-weight: 900;
  position: relative;
  text-align: absolute;
  padding: 0.5rem 0;
}
/* <<<<<<< HEAD
  display: inline-flex;
  
}
=======
  text-shadow: 1px 1px 2px rgb(97, 97, 97);
>>>>>/>> b962441d1a152d3cec4017a9ce12b3cf3fbf9134

} */
 div{
    text-align: center;
    font-size: 20px;
    font:courier;
}

label{
  text-align: left;
 position: relative;
 bottom: 10px;
 font-size: 20px;
}
.logo {
  font-size: 1.25em;
  padding-left: 0.5rem;
  color: transparent;
  text-shadow: 0 0 0 var(--green);
}
main {
  padding: 0 1rem;
}

.searchbar {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  display: block;
}

/* Search bar  */
input {
  padding: 0.25rem;
  border: none;
  font-family: inherit;
  font-size: 1.2em;
  border-bottom: 2px solid gray;
  transition: all 0.2s;
  width: 100%;
  border-radius:23px;
}


input:focus {
  outline: none;
  border-bottom: 2px solid var(--green);
}

.cards {
  list-style: none;
}

.card {
  margin: 1rem;
  box-shadow: 5px 6px 4px rgb(67, 67, 67);

}

.card img {
  width: 100%;
}

.card button {
  margin-top: 0.5rem;
}

@media (min-width: 768px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    width: calc(33% - 2rem);
  }
}

@media (min-width: 1200px) {
  .card {
    width: calc(25% - 2rem);
  }
}

@media (min-width: 1200px) {
  .card {
    width: calc(20% - 2rem);
  }
}

button.Play {
  position:relative;
  right:-87px;
  border: 3px solid #ffffff;
  border-radius:10px;
  display:block;
}

/* <<<<<<< HEAD */
.navigation {
  margin-top: 50px;
  margin: auto;
  font-size: larger;
  font-weight: 200;
}
/* ======= */
root{
  text-align: center;
  position:absolute;

}
h5 {
  color:rgb(10, 0, 0);
  font-size: 70px;
  text-align: center;
  margin: 0px auto;
  position:relative;
  bottom:-60px;

}
h6 {
  color:rgb(255, 255, 255);
  font-size: 70px;
  text-align: center;
  margin: 0px auto;
  position:relative;
  bottom:-60px;

}
.about-p1 {
  color:rgb(255, 255, 255);
  font-size: 40px;
  margin: 0px auto;
  position: relative;
  top:300px;
  left:80px;
  position: absolute;
  text-align: left;
  
}

p2{
  font-size: 25px;
  margin: 0px auto;
  position:relative;
  bottom:-460px;
  left: -10px;
}
.button{
  color: rgb(11, 0, 0);
  padding-left: 15px;
  position: relative;
  left: -50px;
}
 /* >>>>>>> b962441d1a152d3cec4017a9ce12b3cf3fbf9134 */

